INSERT INTO __EFMigrationsHistory_IAM (MigrationId, ProductVersion) SELECT '20260507045904_Init_IAM', '8.0.0' WHERE NOT EXISTS (SELECT 1 FROM __EFMigrationsHistory_IAM WHERE MigrationId = '20260507045904_Init_IAM');
INSERT INTO __EFMigrationsHistory_IAM (MigrationId, ProductVersion) SELECT '20260507052059_Align_IAM_QueryFilters', '8.0.0' WHERE NOT EXISTS (SELECT 1 FROM __EFMigrationsHistory_IAM WHERE MigrationId = '20260507052059_Align_IAM_QueryFilters');
INSERT INTO __EFMigrationsHistory_IAM (MigrationId, ProductVersion) SELECT '20260601080011_AddIamSoftDelete', '8.0.0' WHERE NOT EXISTS (SELECT 1 FROM __EFMigrationsHistory_IAM WHERE MigrationId = '20260601080011_AddIamSoftDelete');
INSERT INTO __EFMigrationsHistory_IAM (MigrationId, ProductVersion) SELECT '20260601132909_AddSoftDeleteToRolesAndIamFilterAlignment', '8.0.0' WHERE NOT EXISTS (SELECT 1 FROM __EFMigrationsHistory_IAM WHERE MigrationId = '20260601132909_AddSoftDeleteToRolesAndIamFilterAlignment');
INSERT INTO __EFMigrationsHistory_IAM (MigrationId, ProductVersion) SELECT '20260601171352_AddPermissionCatalog', '8.0.0' WHERE NOT EXISTS (SELECT 1 FROM __EFMigrationsHistory_IAM WHERE MigrationId = '20260601171352_AddPermissionCatalog');
INSERT INTO __EFMigrationsHistory_IAM (MigrationId, ProductVersion) SELECT '20260602015650_AddMenuCatalog', '8.0.0' WHERE NOT EXISTS (SELECT 1 FROM __EFMigrationsHistory_IAM WHERE MigrationId = '20260602015650_AddMenuCatalog');
INSERT INTO __EFMigrationsHistory_IAM (MigrationId, ProductVersion) SELECT '20260602104152_HardenIamScopeAndMenus', '8.0.0' WHERE NOT EXISTS (SELECT 1 FROM __EFMigrationsHistory_IAM WHERE MigrationId = '20260602104152_HardenIamScopeAndMenus');
INSERT INTO __EFMigrationsHistory_IAM (MigrationId, ProductVersion) SELECT '20260602231445_AddIamReferenceCatalogs', '8.0.0' WHERE NOT EXISTS (SELECT 1 FROM __EFMigrationsHistory_IAM WHERE MigrationId = '20260602231445_AddIamReferenceCatalogs');
INSERT INTO __EFMigrationsHistory_IAM (MigrationId, ProductVersion) SELECT '20260602234334_AddAccessCatalogManagement', '8.0.0' WHERE NOT EXISTS (SELECT 1 FROM __EFMigrationsHistory_IAM WHERE MigrationId = '20260602234334_AddAccessCatalogManagement');
INSERT INTO __EFMigrationsHistory_IAM (MigrationId, ProductVersion) SELECT '20260606114952_AddIamReferenceDataSoftDelete', '8.0.0' WHERE NOT EXISTS (SELECT 1 FROM __EFMigrationsHistory_IAM WHERE MigrationId = '20260606114952_AddIamReferenceDataSoftDelete');
INSERT INTO __EFMigrationsHistory_IAM (MigrationId, ProductVersion) SELECT '20260609013225_AlignIamSeedsWithTenantFiltering', '8.0.0' WHERE NOT EXISTS (SELECT 1 FROM __EFMigrationsHistory_IAM WHERE MigrationId = '20260609013225_AlignIamSeedsWithTenantFiltering');
INSERT INTO __EFMigrationsHistory_IAM (MigrationId, ProductVersion) SELECT '20260708094838_AddMenuDisplayOrder', '8.0.0' WHERE NOT EXISTS (SELECT 1 FROM __EFMigrationsHistory_IAM WHERE MigrationId = '20260708094838_AddMenuDisplayOrder');
INSERT INTO __EFMigrationsHistory_IAM (MigrationId, ProductVersion) SELECT '20260717213946_AddPaymentFeatureCatalog', '8.0.0' WHERE NOT EXISTS (SELECT 1 FROM __EFMigrationsHistory_IAM WHERE MigrationId = '20260717213946_AddPaymentFeatureCatalog');
INSERT INTO __EFMigrationsHistory_IAM (MigrationId, ProductVersion) SELECT '20260720222037_UpdateTenantSettingsMenu', '8.0.0' WHERE NOT EXISTS (SELECT 1 FROM __EFMigrationsHistory_IAM WHERE MigrationId = '20260720222037_UpdateTenantSettingsMenu');
