INSERT INTO __EFMigrationsHistory_Shared (MigrationId, ProductVersion) SELECT '20260720150342_AddTenantSettings_SqlServer', '8.0.0' WHERE NOT EXISTS (SELECT 1 FROM __EFMigrationsHistory_Shared WHERE MigrationId = '20260720150342_AddTenantSettings_SqlServer');
